div {
  background-color: #e4f9f5
}

h1 {
  color: #66BFBF;
  margin-top: 50px;
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.profile{
  background-color: white;
}
h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}

table {
  text-align: center;
  margin-left: 35%;
}

h3 {
  color: #66BFBF;
}

.btn {
  border: 0;
    line-height: 3;
    padding: 3px;
    margin: 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;

    border-radius: 10px;
    background-color: cyan;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

}
.btn:hover{
  background-color: green;
}
.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

hr{
  border: 10px solid cyan;
  border-radius: 5px;
}
a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px white;
}

a:hover {
  text-shadow: 1px 1px 1px #000;
}

p {
  margin: 0
}

.giphy-embed1 {
  float: left;
  border-radius: 50%;
  margin: auto 50px auto auto;
}

.giphy-embed2 {
  float: right;
  border-radius: 50%;
  margin-left: 50px;
}

body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  background-color: white;
}
.skills{
  background-color: white;
}
.skill-row{
  background-color: white;
}
.top-container {
  padding-top: 200px;
  padding-bottom: 100px;
  margin: 0;
  position: relative;
}

.cloud1 {
  position: absolute;
  top: 100px;
  right: 300px;
}

.middle-container {
  background-color: white;
}

.bottom-container {
  padding: 25px;
  background-color: cyan;
  color: white;
}
.contact-me{
  background-color: white;
}

.cloud2 {
  position: absolute;
  bottom: 300px;
  left: 300px;
}
